body {
  
    margin: 0; /* להסיר ריפוד מהברירת מחדל */
    font-family: Arial, sans-serif; /* סגנון פונט */
    direction: rtl; /* תמיכה בעברית */
    padding: 0;
    background-color: rgb(6, 1, 1);
    color:  rgb(255, 199, 23);
    display: flex;
    flex-direction: column;
  }
  
  .hamburger {
    cursor: pointer;
    color:  rgb(255, 199, 23);
    width:150px;
  }
  
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    height: 45%;
    width: 12%;
    transform: translateX(100%); /* מתחיל מחוץ למסך */
    transition: transform 0.3s ease;
    margin-top: 60px;
    background-color: rgb(6, 1, 1);
    box-shadow: 5px 5px 10px rgb(155, 152, 152);
    color:  rgb(255, 199, 23);
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
  }
  
  .menu ul li {
    padding: 20px;
  }
  
  .menu ul li a {
    color:  rgb(255, 199, 23);
    text-decoration: none;
  }
  
  .menu.active {
    transform: translateX(0); /* נכנס למסך */
  }
  
  /* אייקון דף הבית */
  .home-icon {
    
    
    font-size: 30px;
    width: 40px;
    height: 50px;
    color: black;
    text-decoration: none;
    background-image: url('gohome.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .home-icon i {
    font-size: 30px;
  }
  
  /* אפשר לשנות את הצבע של האייקון במעבר עם העכבר */
  .home-icon:hover {
    color: #007BFF;
  }
  .nav-text {
    position: fixed; /* מסדר את המילים באותו קו */
    flex-wrap: wrap; /* מאפשר למילים לעבור לשורה הבאה אם יש צורך */
    right: 150px; 
    top:25px;
    font-weight: bold;
    font-size: 35px;
    background: linear-gradient(to bottom left, rgb(255, 199, 23) , rgb(214, 214, 150));
    -webkit-background-clip: text; /* Clip background to text */
    -webkit-text-fill-color: transparent; /* Make the text fill transparent */

}
.nav-green {
    color: rgb(255, 199, 23); /* ירוק כהה */
}

.nav-orange {
    margin-left:15px ;
}
.logo {
    position: absolute;
    left: 30px;
    top: -5px;
    font-size: 400%; /* גודל גדול יותר ללוגו */
    font-weight: bold; /* הדגשת הלוגו */
}

.logo-green {
    background: linear-gradient(to bottom left, rgb(255, 204, 38), rgb(184, 184, 17)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    margin-left: -10px;
}

.logo-orange {
  background: linear-gradient(to bottom left, rgb(255, 199, 23), rgb(214, 214, 150)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    margin-right: 4px;
}
@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

#rotating {
    display: inline-block; /* Necessary for transform to work */
    animation: rotate 10s linear infinite; animation-delay: 10s;
    
}

.navbar {
  position: fixed; /* קובע שה-navbar יישאר קבוע למעלה */
  top: 0; /* מיקום מלמעלה */
  left: 0; /* מיקום משמאל */
  right: 0; /* מיקום מימין */
  background-color: rgb(6, 1, 1);
  padding: 20px; /* ריפוד סביב ה-navbar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* צל קטן מתחת ל-navbar */
  z-index: 1000;
  font-weight: bold; 
}


.main-content {
  display: flex; /* הופך את התוכן לתצוגת פלקס */
  margin-top: 60px; /* מרווח מעל התוכן */
  height: calc(100vh - 60px); /* גובה בהתאם לחלון */
  background-color: #000; /* צבע רקע */
  color: rgb(255, 199, 23); /* צבע טקסט */
  font-size: 20px; /* גודל טקסט */
  
}

.divR {
  width: 65%; /* תופס 65% מהגובה */
  overflow-y: auto; /* מאפשר גלילה */
  padding: 20px; /* ריפוד פנימי */
}

.image {
  width: 35%; /* תופס 35% מהגובה */
  background-image: url('backreka.png'); /* תמונת הרקע */
  background-size: cover; /* מכסה את כל המיכל */
  background-repeat: no-repeat; /* לא לחזור על התמונה */
  height: 100%; /* גובה מלא */
  overflow-y: hidden;
}
