.byit{width:200px; height: 50px; font-size: 25px; color: gold;
      background-color: black;}
.rd {margin-right: 45px;font-size:22px;height: 30px;}
.allpage{border:border: 1px solid black;height: auto;}
#allthetables1,#allthetables2,#allthetables3{display: none;}
.hasifa {margin-right: 10px;}
#mas1,#mas2,#mas3,#mas4,#mas0,#maskot{width:440px;height: 30px;border: 1px solid black;padding-right: 5px;
                                      vertical-align: middle;font-size:22px;text-align:auto;color:blue;}
#tas1,#tas2,#tas3,#tas4,#tas0,#taskot{width:270px;height:30px;border: 1px solid black;
                                      vertical-align: middle;font-size:22px;;text-align:center;}
#maskot,#taskot{background-color: blue;color: white;}
#tblt{border: 1px solid black;}
#sugnihul{display: none;}
.tozaa{border: 1px solid black;margin-right:35px; width: 710px; heigth: 500px;margin-bottom:20px;}
/*.radio-group {max-width: 750px;display: flex; height: 25px;padding: 5px;border: 1px solid rgb(70, 70, 75); background-color: rgb(226, 226, 234); color: rgb(3, 3, 1);font-size: larger;}*/
.muzar {margin: 15px;}
#product{border: 1px solid black;margin-right: 37px;height: 50px;width: 350px;vertical-align:middle;text-align:center;font-size:25px;}
#management-type{ border: 1px solid black; margin-right: 10px;height: 50px;width: 180px;
                 vertical-align:middle;text-align:center;font-size:25px;display: none;}

#sugnihul,#lblproduct, #lblmaslul {margin-right: 15px;font-size:25px;height: 50px;}
#exposure2-preference{margin-right: 20px;}
#maslul-type {
 /* appearance: none; 
  z-index: 10;  
  position: relative;*/
 margin-right: 30px;height: 45px;width: 500px;
 margin-bottom:25px;font-size:25px;
 border: 1px solid black;
}

h3{padding-right: 5px;}

.thb {height: 30px;border: 1px solid black;width: 300px;font-size:22px;text-align:auto;
           color: white;vertical-align: middle;background-color: blue;}
.thbh {height: 30px;border: 1px solid black;width: 300px;font-size:22px;text-align:auto;
           color: white;vertical-align: middle;background-color: rgb(91, 127, 219);}
#nh3,#nh4,#nh5 {text-align: center;}
#nh31,#nh41,#nh51 {text-align: center;width: 200px}
.tdsmall{width: 200px;height: 30px;font-size: 22px;border: 1px solid black;text-align: center;vertical-align:middle;}
.tdbig{width: 400px;height: 30px;font-size: 22px;border: 1px solid black;text-align: center;vertical-align:middle;}
.tdbold{background-color: blue;color: white;height: 30px;border: 1px solid black;text-align: center;vertical-align:middle;}
#exposure2-preference {margin-right: 15x;}

.alltables{
// display:flex;
  overflow-x: auto;
 margin-bottom: 10px;
min-width: 600px;
  width: 100%;
  max-width:100%;
  border-collapse: collapse;
  margin-right:35px;
}

.table-container1,.table-container2.table-container3,.table-container4{margin-bottom: 20px;}
 .rdb1{margin-right: 15px;}
 .radio-group {margin-right:35px; margin-bottom: 15px;}
  
  .radio-group .rd {
    display: flex;
    align-items: center;
    
  }

  .radio-group .rd input {
    margin-right: 5px;
  }

  .radio-group label.hasifa {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .radio-group {
   display: flex;
    flex-wrap: wrap;
    align-items: center;
   border: 1px solid black;
   width: 710px;
   height:40px;  
  }
