body{background-color: black;

.byit{width:200px; height: 50px; font-size: 25px; color: gold;
      background-color: black;}
.rd {margin-right: 45px;font-size:22px;height: 30px;
    background-color: black;color: gold;}
.allpage{border:border: 1px solid gold;height: auto;background-color: black;color: gold;}
#allthetables1,#allthetables2,#allthetables3{display: none; background-color: black;color: gold;  }
.hasifa {margin-right: 10px; background-color: black;color: gold; }
#mas1,#mas2,#mas3,#mas4,#mas0,#maskot{width:440px;height: 30px;border: 1px solid gold;padding-right: 5px;
                                      vertical-align: middle;font-size:22px;text-align:auto;background-color: black;color: gold; }
#tas1,#tas2,#tas3,#tas4,#tas0,#taskot{width:270px;height:30px;border: 1px solid gold;
                                      vertical-align: middle;font-size:22px; background-color: black;color: gold; text-align:center;}
#maskot,#taskot{background-color: black;color: gold;}
#tblt{ background-color: black;color: gold; }
#sugnihul{display: none;background-color: black;color: gold; }
.tozaa{border: 1px solid gold;margin-right:35px; width: 710px; heigth: 500px;margin-bottom:20px;background-color: black; }
/*.radio-group {max-width: 750px;display: flex; height: 25px;padding: 5px;border: 1px solid gold; background-color: black;color: gold; ;font-size: larger;}*/
.muzar {margin: 15px; background-color: black;color: gold; }
#product{border: 1px solid gold;margin-right: 37px;height: 50px;width: 350px;vertical-align:middle;text-align:center;font-size:25px; background-color: black;color: gold; }
#management-type{ border: 1px solid gold; margin-right: 10px;height: 50px;width: 180px;
                 vertical-align:middle;text-align:center;font-size:25px;display: none; background-color: black;color: gold; }

#sugnihul,#lblproduct, #lblmaslul {margin-right: 15px;font-size:25px;height: 50px; background-color: black;color: gold; }
#exposure2-preference{margin-right: 20px; background-color: black;color: gold; }
#maslul-type {
 /* appearance: none; 
  z-index: 10;  
  position: relative;*/
 margin-right: 30px;height: 45px;width: 500px;
 margin-bottom:25px;font-size:25px;
 border: 1px solid gold;
  background-color: black;color: gold; }

h3{padding-right: 5px; background-color: black;color: gold;  }

.thb {height: 30px;border: 1px solid gold;width: 300px;font-size:22px;text-align:auto;
           color: gold;vertical-align: middle;background-color: black;}
.thbh {height: 30px;border: 1px solid gold;width: 300px;font-size:22px;text-align:auto;
           color: gold;vertical-align: middle;background-color: black;}
#nh3,#nh4,#nh5 {text-align: center; background-color: black;color: gold; }
#nh31,#nh41,#nh51 {text-align: center;width: 200px}
.tdsmall{width: 200px;height: 30px;font-size: 22px;border: 1px solid gold;text-align: center;vertical-align:middle;}
.tdbig{width: 400px;height: 30px;font-size: 22px;border: 1px solid gold;text-align: center;vertical-align:middle; background-color: black; }
.tdbold{background-color: black;color: gold;height: 30px;border: 1px solid gold;text-align: center;vertical-align:middle;}
#exposure2-preference {margin-right: 15x; background-color: black;color: gold;border: 1px solid gold; }

.alltables{
// display:flex;
  overflow-x: auto;
 margin-bottom: 10px;
min-width: 600px;
  width: 100%;
  max-width:100%;
  border-collapse: collapse;
  margin-right:35px;background-color: black;color: gold;
      
}

.table-container1,.table-container2.table-container3,.table-container4{margin-bottom: 20px; background-color: black;color: gold;}
 .rdb1{margin-right: 15px; background-color: black;color: gold; }
 .radio-group {margin-right:35px; margin-bottom: 15px; background-color: black;color: gold; }
  
  .radio-group .rd {
    display: flex;
    align-items: center;
    background-color: black;color: gold;
  }

  .radio-group .rd input {
    margin-right: 5px;
  background-color: black;color: gold;  }

  .radio-group label.hasifa {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
 background-color: black;color: gold; }

  .radio-group {
   display: flex;
    flex-wrap: wrap;
    align-items: center;
   border: 1px solid gold;
   width: 710px;
   height:40px;  
   background-color: black; }
